{% extends 'base.html.twig' %}




{% block title %}Mes adresses{% endblock %}

{% block body %}

 {% include "partials/_navbar.html.twig" %}
{# <div class="row">
<div class="col-md-3 ">
<a href={{path('app_address_add')}} class="btn btn-primary btn-sm mt-3">Ajouter une adresse</a><br>
</div> #}
<div class="text-center mt-3">
<h1>Mes adresses</h1>
</div>
</div>
<hr>
{# {{ dump(app.user) }} #}

{% if app.user.addresses|length ==0 %}
<p class="text-center">
Vous n' avez pas encore ajouté d'adresse dans votre compte client. Pour en ajouter une , veuillez <a href={{path('app_address_add')}}>cliquer ici</a>.
</p>
{% else %}

<div class="row">
{% for address in app.user.addresses %}
<div class="col-md-4 mt-3">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{address.name}}</h5>
    <p class="card-text">
      {{address.adress}}<br>
      {{address.postal}}-{{ address.city}}-{{ address.country}}
      </p>
    <a href={{ path('app_address_edit',{ 'id': address.id})}} class="btn btn-primary">Modifier</a>
    <a href={{ path('app_address_delete',{ 'id': address.id})}} class="btn btn-danger">Supprimer</a>
  </div>
</div>
</div>
{% endfor %}
</div>

{% endif %}

<hr>

<div class="col-md-12 text-center">
<a href={{path('app_address_add')}} class="btn btn-success btn-lg mt-3 w-50">Ajouter une adresse</a><br>
<a href={{path('app_account')}} class="btn btn-warning btn-lg mt-3 w-50" >Retour à mon compte<a><br>
</div>


 {% include "partials/_footer.html.twig" %}

{% endblock %}
