{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

 {% include "partials/_navbar.html.twig" %}



<h1 class="mt-3">Mon compte</h1>

Bienvenue {{ app.user.firstname }} dans votre compte. 
{# {{ dump(app.user.firstname) }}  #}
<hr>
<div class="row">
<div col-md-3>
<a class="btn btn-primary btn-lg mt-2" href={{path('app_account_password')}}>Modifier mon mot de passe<a><br>
<a class="btn btn-primary btn-lg mt-2" href={{path('app_address')}}>Gérer mes adresses<a><br>
<a class="btn btn-primary btn-lg mt-2" href={{path('app_account_order')}}>Mes commandes<a>
</div>
</div>
<hr>

 {% include "partials/_footer.html.twig" %}
{% endblock %}
