{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}

 {% include "partials/_navbar.html.twig" %}
<h1>Modifier mon mot de passe</h1>

{# Bienvenue {{ app.user.firstname }} dans votre compte. #}
{# {{ dump(app.user.firstname) }} #}
<hr>
<a href={{path('app_account')}}>Rectourner à mon compte <a><br>
<hr>

{% if notification %}

<div class='alert alert-info'>{{ notification }}</div>

{% endif %}

{{ form(form)}}
<hr>

 {% include "partials/_footer.html.twig" %}
{% endblock %}
