{% extends 'base.html.twig' %}

{% block title %}Echec de paiement{% endblock %}

{% block body %}

{% include "partials/_navbar.html.twig" %}

{# {{ dump(order) }} #}
<div class="w-80 mt-3">
<h2>Echec de paiement</h2>
<p>Bonjour <strong>{{ order.user.firstname}} {{ order.user.lastname}}</strong> <br/>
 Votre paiement pour la commande numero <strong>{{ order.reference }}</strong> a échoué.<br/>
Nous vous invitons à recommencer.

<hr>
<a href={{ path('app_order')}}>Réessayer le paiement</a>


</p>
</div>

{% endblock %}
